
/* ### -- -- -- -- -- WYSIWYG Editor Styles -- -- -- -- -- ### */

/* 

File: wysiwyg.css 
Copyright 2006-2010 by WoltLab GmbH. 

*/

/* ### -- -- -- -- -- Editor Environment -- -- -- -- -- ### */

/* Globals */

.editorFrame .formFieldLabel {
	display: block;
	width: auto;
}

.editorFrame .formField {
	margin: 0 !important;
	width: 100%;
}

.editorFrame .border {
	margin-bottom: 0 !important;
}

.formError .mceErrorBorder {
	border-color: #c00; /* ToDo: put this into the dynamic style sheet */
	margin-top: 1px;
	z-index: 1;
}

/* JavaScript Enabled */

.editor {
	padding-top: 1px; /* Firefox 1.5 */
}

.editor .formFieldLabel {
	width: 0;
	display: none !important;
}

.editor textarea, .editor textarea:focus {
	border: 0 none !important;
	margin: 0;
	width: 100%; 
}

.editorFrame .subTabMenu .containerHead div {
	height: auto;
}

/* ### -- -- -- -- -- Editor Toolbar -- -- -- -- -- ### */

/* Toolbar */

.mceToolbar {
	height: auto !important; /* IE */
	display: block;
}

.mceToolbar ul {
	margin: 0 3px;
	padding: 0;
	width: 99.5%; /* IE */
	display: block;
	float: left;
}

.mceToolbar li {
	display: block;
	position: relative;
}

.mceToolbar li a {
	margin: 1px;
	padding: 1px;
}

.mceToolbar li a:hover {
	margin: 1px;
	padding: 0;
}

.mceToolbar li.activeSubTabMenu a {
	margin: 1px;
	padding: 0;
}

/* Toolbar Items */

.mceSeparator {
	border: 0;
	margin: 2px 3px 0 3px;
	padding: 0;
}

.fontFormat {
	font-size: 10pt;
	margin-right: 5px !important;
	height: 1.7em;
}

.mceButtonDisabled a img {
	cursor: default;
	opacity: .3; /* css3 */
}

.mceButtonDisabled a:hover {
	background: transparent !important;
	border: 1px solid transparent !important;
}

/* Color Picker */

.editorFrame .popupMenu {
	opacity: 1.0 !important;
}

div.mceColors {
	background-color: #000;
	float: left;
	width: 113px !important;
}

div.mceColors ul {
	list-style: none;
	margin: 0;
	padding: 1px 0 0 1px;
	width: auto;
}

div.mceColors ul li {
	margin: 0 1px 1px 0 !important;
	padding: 0 !important;
	float: left !important;
	display: block !important;
	height: 15px !important;
	width: 15px !important;
}

div.mceColors ul li a, div.mceColors ul li a:hover {
	background-image: none;
	background-repeat: no-repeat !important;
	background-position: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	display: block !important;
	height: 15px !important;
	width: 15px !important;
}

div.mceColors ul li a:hover {
	background-repeat: no-repeat !important;
	background-position: -1px -1px !important;
	border: 1px solid #fff !important;
	width: 13px !important;
	height: 13px !important;
}

/* ### -- -- -- -- -- Editor Writing Area -- -- -- -- -- ### */

/* WYSIWYG Compatible Browsers */

.mceEditorIframe {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
}

.iframeHTML, .iframeBody {
	background-color: transparent !important;
	background-image: none !important;
	clear: both;
}

.iframeBody p {
	margin-bottom: auto;
}

blockquote.wysiwygQuote {
	border-width: 1px;
	border-style: solid;
	margin: 20px;
	padding: 5px;
}

/* Codeview */

.editorCodeView {
	border: 0;
	margin: 0;
	padding: 0;
	display: none;
	overflow: auto;
}

/* WYSIWYG Incompatible Browsers */

.mceInputText {
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
}

/* ### -- -- -- -- -- Resize Bar -- -- -- -- --  ### */

.mceResizeIconRow {
	border-top: none !important;
}

.mceResizeIconRow div {
	height: 24px;
}

.mceResizeIcon {
	cursor: se-resize;
	background-image: url('../icon/wysiwyg/editorResizeM.png');
	background-repeat: no-repeat;
	float: right;
	height: 24px !important;
	width: 24px;
}

.mceResizeBox {
	border-width: 1px;
	border-style: dotted;
	display: none;
}

/* ### -- -- -- -- -- EOF -- -- -- -- -- ### */
